
.delected-container{
    height:100vh;
    flex-shrink: 0;
    background: rgba(52, 64, 84, 0.70);
    backdrop-filter: blur(10px);
}


.inner-container{
    width: 591px;
    height: 188px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    /* Shadow / lg */
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    
}

.inner{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.heading-del{
    color: #333B69;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.heading-del_1{
    color: #505887;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.all_detail-de{
    text-align: center;
}


.button-container-del{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-top: 5%;
}

.yes-button{

    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #DC2626;
    border: none;
}

.no-button{

    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    background: #FFF;
}