.last_heading{
    padding-left: 250px;
    margin: 10px;
}


.last_heading{
    color: #333B69;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.last-transcation-details{
    display: flex;
    height: 210px;
    padding: 10px 10px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
   margin-right: 10px;
}
.first-list{
    width: 100%;
    height: 58px;
    flex-shrink: 0;
    border-bottom: 1px solid #E2E2E2;
   display: flex;
   gap: 3%;
   padding-top: 1%;
}


.red_container{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
   padding-top: 8px;
}

.heading_list{
    color: #505887;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 30%;
}

@media screen and (min-width:767px) {
  .heading_list{
    width: 10%;
  }
}

.shopping{
    color: #718EBF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
}

.time{
    color: #718EBF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
    width: 300px;
}

.value{
    color: #FE5C73;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 8px;
}

.button1 {
    border: none;
    background-color: transparent;
   padding-bottom: 10px;
   margin-right: 10px;
}

.button1 img {
    display: block; 
}

.button1:hover{
    background-color:aliceblue;
    border-radius: 50%;
    cursor: pointer;
}

.Dedit-credit-section{
    height: 364px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    padding-left: 300px;
}
.dedit_heading{
    color: #333B69;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 260px;
}

.desdit-credit-section{
    margin: 20px;
}

.loading{
    text-align: center;
    color: #718EBF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
    padding-top: 300px;
}

/* Default styles for all screen sizes */

.last_heading {
    
    margin: 10px;
  }
  
  .last-transcation-details {
    display: flex;
    height: 210px;
    padding: 10px 10px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    margin-left: 260px;
    margin-right: 10px;
  }
  
  /* ... (rest of the styles) ... */
  
  /* Media queries for tablet view */
  
  @media screen and (max-width: 768px) {
    .last_heading {
      padding-left: 30px;
      font-size: 20px;
    }
  
    .last-transcation-details {
      margin-left: 20px;
      margin-right: 10px;
    }
  
    .first-list {
      width: 100%;
    } 
  
    .value {
      text-align: left;
    }
  
    .button1 img {
      width: 20px;
      height: 20px;
    }
  
    /* Add more responsive styles as needed */
  }
  
  /* Media queries for mobile view */
  
  @media screen and (max-width: 576px) {
    .last_heading {
      padding-left: 20px;
      font-size: 18px;
    }
  
    .last-transcation-details {
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px 8px 8px 16px;
    }
  
  
  
    .value {
      text-align: left;
    }
  
    .red_container {
      padding-top: 0;
    }
  
    .button1 img {
      width: 18px;
      height: 18px;
    }
  
    /* Add more responsive styles as needed */
  }
  

  .pencial{
    width: 20px;
    height: 20px;
  }

 .personUsername{
  display: flex;
  
 }